$dark: #1a1a1a;
$neutro: #848484;
$light: #fff;
$primary: #a956d0;
$error: #f5625e;

$primaryFont: 'Work Sans', sans-serif;
$secondaryFont: 'Crimson Text', serif;

$unit: 24px;


$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1440px;
$screen-xlg: 1680px;

$screen-sm-min: $screen-xs;
