@import "./variables";

@media (min-width: $screen-sm-min) {
  .billboard {
    position: relative;
    .intro {
      width: 50%;
      bottom: 0;
      position: absolute;
      background-color: $light;
      padding: $unit $unit * 3.75;
      h1 {
        margin: 0 0 $unit;
      }
    }
  }
  .about {
    padding: $unit * 3.75;
    p {
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
    }
  }
}
