@import "./variables";

.billboard, .work {
  margin: 0 0 5.625rem;
}

@media (min-width: $screen-sm-min) {
  .billboard {
    position: relative;
    .intro {
      width: 50%;
      bottom: 0;
      position: absolute;
      background-color: $light;
      padding: $unit $unit * 3.75;
      h1 {
        margin: 0 0 $unit;
      }
    }
  }
  .text {
    padding: $unit $unit * 3;
    h2 {
      margin-top: $unit / 4;
    }
  } 
}